/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
}

button {
    padding: .85rem 2rem;
    border: none;
    font-size: 1.15rem;
    border-radius: 1rem;
    margin: 3rem auto;
    cursor: pointer;
}

.body {
    position: relative;
}

/* body */

main,
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    max-width: 100vw;
}

.info {
    flex-direction: column;
}

.section {
    cursor: pointer;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s all ease-in-out;
}

.section-1 {
    background: url(./701802.jpg) center/cover no-repeat;
}

.section-2 {
    background: url(./minimalist-desktop-14.jpg) center/cover no-repeat;
}

.ios {
    background-color: black;
    transition: 0.2s all ease-in-outs;
    border: 2px solid black;
    color: white;
}


.ios:hover {
    background: transparent;
    color: black;
}

.android {
    background-color: white;
    color: black;
    font-weight: bolder;
    transition: 0.2s all ease-in-outs;
    border: 2px solid white;
}


.android:hover {
    background: transparent;
    color: white;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.back:hover {
    color: rgb(124, 91, 91);
}